.banner {
	width: 100%;
	max-width: 100%;
	text-align: center;
}

/* position: relative;
	left: 90%; */
/* display: block; */

#root {
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

#homepageButtonQuizPage {
	position: relative;
	right: 80%;
}

#reviewButtonQuizPage {
	position: relative;
	left: 80%;
}

.homepageButtonReviewPage {
	position: relative;
	right: 60%;
}

.quizButtonReviewPage {
	position: relative;
	left: 60%;
}
