/* App */

* {
	margin: auto;
	max-width: 1000px;
	text-align: center;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 2;
	font-weight: 550;
}

#header {
	text-align: left;
	padding-top: 5%;
	padding-left: 5%;
	font-size: xx-large;
	background-color: #001489;
	color: #ffffff;
}

/* Homepage */

#homepage {
	height: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 200px;
	padding-right: 200px;
	place-items: center;
	/* height: 100vh; Set a specific height (viewport height) */
	background-image: url(../public/BackgroundImage.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#homepageQuizButton {
	scale: 150%;
}

#homepageReviewButton {
	scale: 150%;
}

/* Quiz */

.quizQuestionAnswerBox {
	margin-top: 40px;
	padding: 10%;
	width: 450px;
	height: 200px;
	border: 1px solid grey;
	border-radius: 40px;
	box-shadow: 1px 3px 3px 3px rgb(194, 194, 194);
	margin-bottom: 20px;
	font-size: 17px;
}

.score {
	margin-top: 30px;
}

.quizPrevNextButton {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	margin-top: 20px;
}

.quizHomepageReviewButtons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* ReviewPage */

.groupAgroupB {
	padding-top: 2%;
	padding-right: 20%;
	padding-bottom: 2%;
}

.reviewHomepageButton {
	position: absolute;
	right: 70%;
}

.reviewQuizButton {
	position: absolute;
	left: 70%;
}

.table {
	padding-bottom: 5%;
}

.tableHeading {
	color: #001489;
}

/* Buttons */
/* a = anchor elements*/

a {
	font-weight: 500;
	color: #001489;
	text-decoration: inherit;
}
a:hover {
	color: #001489;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #001489;
	border-width: 1.5px;
}
